{% extends 'base.html' %}
{% load static %}
  
  
  {% block content %}
    <!-- Start slides -->
    <div id="slides" class="cover-slides">
      <ul class="slides-container">
        <li class="text-center">
          <img src="{% static 'images/slider-01.jpg' %}" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Welcome To <br />
                    Persian Restaurant</strong
                  >
                </h1>
                <p class="m-b-40">
                  Persian cuisine is characterized by the use of lime and saffron.
                  <br />
                  Hundreds of flavors under one roof.
                </p>
                <p>
                  <a
                    class="btn btn-lg btn-circle btn-outline-new-white"
                    href="#"
                    >Reservation</a
                  >
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <img src="{% static 'images/slider-02.jpg' %}" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Welcome To <br />
                    Persian Restaurant</strong
                  >
                </h1>
                <p class="m-b-40">
                  Persian cuisine is characterized by the use of lime and saffron.
                  <br />
                  Hundreds of flavors under one roof.
                </p>
                <p>
                  <a
                    class="btn btn-lg btn-circle btn-outline-new-white"
                    href="{% url 'reservation:reservation' %}"
                    >Reservation</a
                  >
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <img src="{% static 'images/slider-03.jpg' %}" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Welcome To <br />
                    Persian Restaurant</strong
                  >
                </h1>
                <p class="m-b-40">
                  Persian cuisine is characterized by the use of lime and saffron.
                  <br />
                  Hundreds of flavors under one roof.
                </p>
                <p>
                  <a
                    class="btn btn-lg btn-circle btn-outline-new-white"
                    href="{% url 'reservation:reservation' %}"
                    >Reservation</a
                  >
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="slides-navigation">
        <a href="#" class="next"
          ><i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
        <a href="#" class="prev"
          ><i class="fa fa-angle-left" aria-hidden="true"></i
        ></a>
      </div>
    </div>
    <!-- End slides -->

    <!-- Start Menu -->
    <div class="menu-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading-title text-center">
              <h2>Special Menu</h2>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="special-menu text-center">
              <div class="button-group filter-button-group">
                <button class="active" data-filter="*">All</button>
                <button data-filter=".drinks">Drinks</button>
                <button data-filter=".lunch">Lunch</button>
                <button data-filter=".dinner">Dinner</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row special-list">
					{% for food in foods %}

          <a href="{%url 'foods:detail' food.id %}">
            <div class="col-lg-4 col-md-4 col-sm-6 special-grid {{ food.type_food }}">

            <div class="gallery-single fix">
              <img src="{{food.photo.url}}" class="img-fluid" alt="Image" />
              <div class="why-text">
                <h4>{{food.name}}</h4>
                <p>{{food.description}}</p>
                <h5>{{food.price}} $</h5>
              </div>
            </div>
          </div>
          </a>
          
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- End Menu -->
    
    <a href="#" id="back-to-top" title="Back to top" style="display: none"
      >&uarr;</a
    >
    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

  {% endblock content %}
    
    


    